.result,
.result a {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 40px;
    text-decoration: none;
    color: #444444;


}

.result {
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    margin: 0 0 20px 0;
}

ul {
    padding: 0;
    margin: 0;
}

.thumbnailSearch {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.videoTitle {
    font-size: 1.5rem;
    margin: 0;
    color: #000000;
}

.videoDescription {
    font-size: 0.8rem;
    color: #111111;
}